
@{
    ViewBag.Title = "Forgot Password";
}

<div class="main-content">
    <!-- Section: inner-header -->
    <section class="inner-header divider layer-overlay overlay-deep" data-bg-img="../Content/Client/images/bg/bg5.jpg">
        <div class="container pt-90 pb-50">
            <!-- Section Content -->
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12 xs-text-center">
                        <h3 class="font-28">
                            Forgot Password
                        </h3>
                        <ol class="breadcrumb white mt-10">
                            <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                            <li class="active text-theme-colored">Forgot Password</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-push-3">
                    <h4 class="text-gray mt-0 pt-5"> Forgot Password</h4>
                    <hr>
                    <p>Enter your email address for forgot password.</p>
                    @using (Html.BeginForm("ForgotPassword", "Home", FormMethod.Post, new { id = "frm", @class = "clearfix" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="row">
                            <div class="form-group col-md-12">
                                <label for="userType">User Type</label>
                                <select id="userType" name="userType" class="form-control">
                                    <option value="2">Doctor</option>
                                    <option value="3">Patient</option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-12">
                                <label for="Email">Email Address</label>
                                <input type="email" class="form-control" id="Email" name="Email" placeholder="Email" required="">
                            </div>
                        </div>



                        <div class="form-group pull-right mt-10">
                            <button type="submit" class="btn btn-dark btn-sm">Submit</button>
                        </div>
                        <div class="clear text-center pt-10">
                            <a class="text-theme-colored font-weight-600 font-12" href="@Url.Action("Index", "Home")"><< Back to home?</a>
                        </div>

                    }
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts {
    @Scripts.Render("~/plugins/validate")

    <script type="text/javascript">
        $(document).ready(function () {
            $("#frm").validate({
                rules: {

                    Email: {
                        required: true,
                        email: true
                    } 
                }
            });



        });
    </script>
}
