@model  LoginVm

@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_adminAuthLayout.cshtml";
}

<div>
    <div>
        <h1 class="logo-name">Dr.</h1>
    </div>
    <h3 class="text-white">Forgot Password?</h3>
    
    <p>Enter your email address for forgot password.</p>
    @using (Html.BeginForm("ForgotPassword", "Admin", FormMethod.Post, new { id = "frm", @class = "m-t" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <input type="email" class="form-control" id="Email" name="Email" placeholder="Email" required="">
        </div>
         
        <button type="submit" class="btn btn-info block full-width m-b">Forgot Password</button>

        <a href="@Url.Action("Index", "Admin")"><p class="text-white"><< Back to Login</p></a>
    }
    
</div>

